/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2022
    Author     : Benigno
*/

*{
        margin: 0px;
        padding: 0px;
    }
    body{
        background: #fcfcfc;
    }
    .contenedor {
        margin: auto;
        width: 900px;
        margin-top: 300px;
        text-align: center;
    }
    .titulo{
        margin-bottom: 20px;
    }
    .opciones p {
        background: #ffa02a;
        display: initial;
        padding: 12px;
        color: #ffffff;
        border-radius: 2px;
        font-weight: bold;
    }
    p.p1 {
        position: absolute;
        top: 400px;
        left: 609px;
        width: 100px;
    }
    p.p2{
        position: absolute;
        top: 400px;
        left: 800px;
        width: 100px;
    }
    #si {
        background: #515050;
        left: 420px;position: absolute;
        top: 122px;
        width: 550px;
        color: #ffffff;
        padding: 50px;
        display: none;
    }
